<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<!-- https://dimitrisli.wordpress.com/category/intellij/ -->
<log4j:configuration>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <!-- Query Loggers -->
    <logger name="jdbc.sqlonly" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console-infolog"/>
    </logger>

    <logger name="jdbc.resultsettable" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <!-- 있으나 없으나 실행된다. -->
    <!--<logger name="com.setting.controller.MainController">
        <level value="info"/>
    </logger>-->

    <category name="org.apache.log4j.xml">
        <priority value="info" />
    </category>

    <root>
        <!--<priority value ="trace" />-->
        <priority value="debug" />
        <appender-ref ref="STDOUT" />
    </root>
</log4j:configuration>